<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" language='javascript'></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class='page_content_wrapper'>
  <div id='menu'><%= phoxy.DeferRender('menu/entry', {}) %></div>
  <div class='container' id='content'>
  </div>
  <div class='push_footer'></div>
</div>

<div id="footer" class='footer'>
  <div class="container">
    <p class="muted credit pull-right">
      <span class="glyphicon glyphicon-copyright-mark"></span>
      <span>...</span>
    </p>
  </div>
</div>

<link href="css/sticky_footer.css" rel="stylesheet" media="screen">
<link href="css/main.css" rel="stylesheet" media="screen">
